[Unit]
Description=Fulbii Scheduler Run
After=network.target

[Service]
Type=oneshot
User=www-data
Group=www-data
WorkingDirectory=/var/www/fulbii/current
ExecStart=/usr/bin/php /var/www/fulbii/current/artisan schedule:run
StandardOutput=append:/var/log/fulbii-scheduler.log
StandardError=append:/var/log/fulbii-scheduler-error.log
